.background {
  width: 100%;
  gap: 24;
}

.containerSection1 {
  align-self: stretch;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../assets/pexels-david-gomes-2495160.png");
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
  background-position: center;
  background-size: cover;
}

.text1Font {
  color: white;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.text2Font {
  align-self: stretch;
  color: white;
  font-size: 32px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 48px;
  word-wrap: break-word;
}

.text3Font {
  align-self: stretch;
  color: white;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.containerOneSect1 {
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.imgSect1 {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
}

.text4Font {
  color: white;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.text5Font {
  color: white;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
}

.containerIcon1 {
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: flex;
}

.imgIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

.containerTwoSect1 {
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.containerIcon2 {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: rgba(1, 159, 196, 0);
  border-radius: 99px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.containerSection2 {
  align-self: stretch;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  display: flex;
}

.containerOneSect2 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: flex;
}

.container1ConOne {
  align-self: stretch;
  padding: 16px;
  background: #f2f2f2;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.textColorBlack {
  align-self: stretch;
  color: #2e2e2e;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.textColorBlue {
  color: #019fc4;
  font-size: 18px;
  font-family: Arial;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}

.imgConOne {
  width: 651px;
  align-self: center;
  height: 300px;
  border-radius: 8px;
}

.textFont1 {
  align-self: stretch;
  color: #2e2e2e;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.container2ConOne {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.textFont2 {
  color: #2e2e2e;
  font-size: 12px;
  font-family: Arial;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.textFont3 {
  color: #2e2e2e;
  font-size: 12px;
  font-family: Arial;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.containerTwoSect2 {
  width: 325px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.textFont4 {
  color: #2e2e2e;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 27px;
  word-wrap: break-word;
}

.container1ConTwo {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  display: flex;
}

.textFont5 {
  flex: 1 1 0;
  color: #2e2e2e;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.imgConTwo {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
