.navigation-highlightContainer {
  align-self: stretch;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #00252e;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navigation-container1 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.navigation-textOne {
  color: white;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
}

.navigationSpace {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  display: flex;
}

.navigationIcons {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}

.navigation-container2 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 16px;
  padding-bottom: 16px;
  background: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.navImgCourse {
  width: 130.29px;
  height: 40px;
}

.navHorizon1 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navHorizon2 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.navigation-textSpace {
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.navigation-textTwo {
  color: #606062;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.5rem;
  word-wrap: break-word;
}

li {
  list-style-type: none;
}

.navIconsImg {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.navigationImg {
  width: 11.41px;
  height: 7.12px;
  left: 6.29px;
  top: 4px;
  position: absolute;
}

.section1 {
  align-self: stretch;
  padding: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
}

.section1Space {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
}

.section1Card1 {
  flex: 1 1 0;
  border-radius: 8px;
}

.tittleCard {
  color: #939395;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.description1 {
  width: 500px;
  color: #2e2e2e;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 1.5rem;
  word-wrap: break-word;
}

.subTitleSpace1 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.subTittleName {
  color: #939395;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
}

.dot {
  color: #939395;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.subTittleTgl {
  color: #939395;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.containerPosition1 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.colorConPos1 {
  width: 1.5rem;
  height: 4px;
  background: #019fc4;
  border-radius: 99px;
}

.colorConPos2 {
  width: 4px;
  height: 4px;
  background: #adadae;
  border-radius: 99px;
}

.tabTittle {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1.5rem;
  display: flex;
}

.tabTittlePosition {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.tabTittleColor1 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #019fc4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.tittle {
  color: white;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;
}

.tabTittleColor2 {
  flex: 1 1 0;
  align-self: stretch;
  background: #019fc4;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tabTittleColor3 {
  align-self: stretch;
  flex: 1 1 0;
  background: #fafafa;
  border-bottom-left-radius: 4px;
}

.tabTittleColor4 {
  align-self: stretch;
  height: 4px;
  background: #019fc4;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cardSpace {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
}

.cardPosition {
  width: 238px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.section1Card2 {
  width: 238px;
  height: 100px;
  border-radius: 8px;
}

.description2 {
  align-self: stretch;
  color: #2e2e2e;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 1.5rem;
  word-wrap: break-word;
}

.subTittleName2 {
  color: #939395;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.containerPosition2 {
  width: 238px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.section2 {
  align-self: stretch;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
}

.tabTittle2 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

.cardSpace2 {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.cardPosition2 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.section2Card1 {
  width: 200px;
  height: 160px;
  border-radius: 8px;
}

.containerPosition3 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.section2Tittle1 {
  color: #939395;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
  margin-top: 1%;
}

.description3 {
  align-self: stretch;
  color: #939395;
  font-size: 12px;
  font-family: Arial;
  font-weight: 546;
  line-height: 150%;
  word-wrap: break-word;
}

.containerPosition4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.colorText {
  color: #019fc4;
  font-size: 12px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.iconConPos4 {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.tabSection2 {
  width: 238px;
  padding: 16px;
  background: #004e60;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.section2Tittle2 {
  color: white;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 27px;
  word-wrap: break-word;
}

.line {
  align-self: stretch;
  height: 0px;
  outline: 1px #fafafa solid;
  outline-offset: -0.5px;
}

.containersection2 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.cardSection2 {
  align-self: stretch;
  width: 206px;
  height: 80px;
  border-radius: 8px;
  margin-left: 15px;
}

.description4 {
  align-self: stretch;
  color: white;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.footer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  display: flex;
}

.footerSpace {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  display: flex;
}

.footerContainer1 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: flex;
}

.footerTittle {
  color: #595959;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.footerDesc1 {
  align-self: stretch;
  color: #272727;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.footerContainer2 {
  width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
}

.footerDescGrey {
  color: #7a7a7b;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 21px;
  word-wrap: break-word;
}

.footerDescSpace {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.footerDescBlue {
  color: #019fc4;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
}

.footerContainer3 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
}

.footerLine {
  align-self: stretch;
  height: 0px;
  outline: 1px #f3f2ef solid;
  outline-offset: -0.5px;
}

.colorTextLine {
  align-self: stretch;
  text-align: center;
  color: #595959;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 800px) {
  .section1,
  .section2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    display: flex;
  }

  .containerSection2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    display: flex;
  }

  .footerSpace {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    display: flex;
  }
}
